// Define variables for your color scheme

// For example:
$red: #ff5d60;
$blue: #5761f2;
$yellow: #ffb530;
$orange: #E67E22;
$green: #2EC4B6;
$gray: #0E0000;
$medium-gray: #adadad;
$light-gray: #F4F4F4;

$dd-blue-sp: #03062d;
$d-blue-sp: #050b54;
$darker-blue-sp: #3f47bd;
$blue-sp: #5761f2;
$l-blue-sp: #b1b6f9;
$ll-blue-sp: #f3f4fe;

$yellow-sp: #ECC30B;
$l-yellow-sp: #fed384;
$ll-yellow-sp: #fff1d7;

$green-sp: #2EC4B6;
$red-sp: #EF5B5B;
$pink-sp: #E296C0;
