// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dd-blue-sp: #03062d;
$d-blue-sp: #050b54;
$blue-sp: #5761f2;
$l-blue-sp: #5761f2;
$ll-blue-sp: #f3f4fe;

$yellow-sp: #ffb530;
