.container {
  margin-bottom: 100px;
  margin-top: 60px;
  padding-top: 1em;
  max-width: 500px;
}

html, body {
  background: linear-gradient(to top, $ll-blue-sp 0%, white 100%);
}

.exception-page {
  background: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main {
  flex: 1 0 auto;
}

.réservations-ligne {
  font-size: 1.1em;
  font-weight: 600;
}
