.progress-bar-container {
  width: 100%;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;

  .progress-bar-fill {
    height: 100%;
    background-color: $blue-sp;
    transition: width 0.5s ease-in-out;
  }

  .step1 {
    width: 30%;
  }

  .step2 {
    width: 60%;
  }

  .step3 {
    width: 90%;
  }
}

.progress-bar-steps {
  display: flex;
  justify-content: space-between;

  .progress-bar-step {
    flex: 1;
    text-align: center;
  }
}

.onboarding-form-description {
  font-weight: 600;
}

.onboarding-form-description-small {
  font-weight: 300;
  font-size: 0.9em;
  text-align: center;
}

.title-onboarding {
  display: inline;
  padding: 0.2em 1em;
  border-radius: 3em;
  background-color: $blue-sp;
  font-size: 1em;
  font-weight: 500;
  color: $ll-blue-sp;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
  font-size: 1em;
  font-family: $body-font;
}

.round-btn-add {
  color: $l-blue-sp;
  font-size: 1.5em;
  i {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}

.formules-step2-child {
  width: 90%;
}

.formule-count {
  font-size: 0.9em;
}

.delete-formule {
  font-size: 0.8em;
}

.add-formule {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
  padding-top: 1em;
}

.delete-package {
  font-size: 0.8em;
  margin-bottom: 0;
}

.weekday-button-onboarding {
  width: 5.5em;
  text-decoration: none;
  padding: 0.25em 0.4em;
  font-size: 0.9em;
  border-radius: 4px;
  transition-duration: 0.8s;
  background: $l-blue-sp;
  color: $ll-blue-sp;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-weight: 400;
  text-align: center;
  margin: 0.2em 0.1em;

  &.selected {
    background: $blue-sp;
    box-shadow: none;

  }
}

.time-slot-break {
  text-decoration: none;
  padding: 0.5em 0.9em;
  font-size: 0.8em;
  border-radius: 4px;
  transition-duration: 0.8s;
  background: $blue-sp;
  color: $ll-blue-sp;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-weight: 300;
  text-align: center;
  margin: 0.3em 0em;
  -webkit-user-select: none;  /* Chrome, Safari and Opera */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* IE/Edge */
  user-select: none;          /* Standard syntax */

  &.selected {
    background: $l-blue-sp;
    box-shadow: none;
  }
  &:hover {
    cursor: grab;
  }
}

.edit-onboarding-picture {
  max-height: 100px;
  border-radius: 4px;
  margin-bottom: 1em;
}

.disclaimer {
  font-size: 0.8em;
  margin-bottom: 0.3em;
}

.big-spinner .spinner-grow {
  width: 8rem;  /* Default spinner size is 2rem, 4 times larger would be 8rem */
  height: 8rem;
}
