.image {
  margin-top: auto;
  padding-top: 0;
  display: inline-block;
}


.s-main-webflow {
  height: 100vh;
  color: #fff;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  display: flex;
  position: relative;
  overflow: hidden;
}

.content_wrapper_webflow {
  z-index: 99;
  position: relative;
}

.circle_1-wf {
  z-index: -100;
  width: 60vw;
  height: 60vw;
  filter: blur(150px);
  background-color: #e5e7fd;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.circle_2-wf {
  z-index: -100;
  width: 30vw;
  height: 30vw;
  filter: blur(100px);
  background-color: #ced0fc;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.circle_3-wf {
  z-index: 1;
  width: 25vw;
  height: 25vw;
  opacity: .75;
  filter: blur(100px);
  background-color: #dfe1ff;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.circle_4-wf {
  z-index: 1;
  width: 40vw;
  height: 40vw;
  opacity: 1;
  filter: blur(100px);
  background-color: #ecedff;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
}

.circle_5-wf {
  z-index: 4;
  width: 50vw;
  height: 50vw;
  opacity: .35;
  filter: blur(100px);
  background-color: #ecedff;
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: 10%;
  left: 25%;
  right: auto;
}

.nav_bar_webflow {
  z-index: 200;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 4em;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.link-container-webflow {
  align-items: center;
  padding-top: 2em;
  display: flex;
}

.btn-container-webflow {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.btn-webflow-white {
  color: #5761f2;
  background-color: rgba(0, 0, 0, 0);
  font-family: Raleway, sans-serif;
}

.btn-webflow-blue {
  color: #f1f1f1;
  background-color: #5761f2;
  border-radius: 8px;
  padding-left: 13px;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.div-block {
  position: fixed;
}

.webflow-container {
  height: 100vh;
  flex-direction: column;
  padding: 2em;
  display: flex;
  position: static;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.webflow-block {
  z-index: 200;
  height: auto;
  padding-left: 0;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.image-2 {
  object-fit: fill;
  border-radius: 0;
  display: block;
}

.hero-section-webflow {
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin-top: 9.7em;
  display: flex;
  overflow: visible;
}

.heading-webflow {
  margin-top: 0;
  margin-bottom: 0;
  padding: .85rem;
  font-family: Source Sans Pro, sans-serif;
  font-size: 3.4em;
  line-height: 1;
  font-weight: 700;
}

.div-block-4 {
  flex: 1;
  padding: 1em;
}

.div-block-5 {
  outline-offset: 0px;
  mix-blend-mode: normal;
  outline: 3px #555;
  flex: 1;
  overflow: hidden;
}

.text-block-webflow {
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  padding: 1.1em;
  font-family: Source Sans Pro, sans-serif;
}

.container-2 {
  z-index: 200;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.body {
  color: #03062d;
  font-family: Source Sans Pro, sans-serif;
  font-weight: 400;
}

.btn-webflow-blu-demo {
  color: #f1f1f1;
  background-color: #5761f2;
  border-radius: 8px;
  margin-left: 1.1em;
  padding-left: 13px;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.gradient-webflow {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(162deg, #5761f2, #b7baf0);
  -webkit-background-clip: text;
  background-clip: text;
}

.div-block-6 {
  justify-content: space-around;
  align-items: center;
  margin-top: 11.7em;
  margin-bottom: 2em;
  display: flex;
}

.div-block-7, .div-block-8 {
  width: 20em;
  text-align: center;
}

.div-block-9 {
  width: auto;
  height: 40em;
  text-align: center;
}

.image-3 {
  color: #2c3283;
}

.navbar-2 {
  background-color: #06082d;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-3-webflow {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-top: 0.8em;
}

.text-bloc-webflow {
  font-family: Source Sans Pro, sans-serif;
}

.text-bloc-webflow-2 {
  width: 74%;
  margin-bottom: 33px;
  font-family: Source Sans Pro, sans-serif;
}

.text-bloc-webflow-3 {
  font-family: Source Sans Pro, sans-serif;
}

.container-3 {
  padding-left: 2em;
  padding-right: 2em;
}

.nav-link-webflow {
  opacity: 0;
  color: #5761f2;
  font-family: Source Sans Pro, sans-serif;
}

.nav-link-webflow-2 {
  color: #5761f2;
  font-family: Source Sans Pro, sans-serif;
}

.nav-bar-webflow {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 300;
  transition: background-color 0.3s ease;
}

.nav-bar-webflow.navbar-white {
  background-color: white;
  opacity: 85%;
}

.brand-webflow {
  align-items: center;
  display: flex;
}

.container-navbar-webflow {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-1-webflow {
  margin-top: 1em;
  margin-bottom: 1em;
}

.navbar-wf-div {
  display: flex;
  position: relative;
}

.div-webflow-link-iphone {
  justify-content: center;
  align-items: center;
  margin-top: .1em;
  margin-bottom: 3.7em;
  display: flex;
  position: relative;
}

.hero-webflow-text {
  flex: 1;
  padding: 1em;
}

.container-webflow-1 {
  z-index: 200;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  max-width: 960px;
  margin: 0 auto;
}

.hero-webflow-image {
  outline-offset: 0;
  mix-blend-mode: normal;
  outline: 3px solid #555;
  flex: 1;
  overflow: hidden;
}

.benef-section-webflow {
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 11.7em;
  margin-bottom: 4.8em;
  display: flex;
}

.benf-1-webflow {
  width: 20em;
  height: auto;
  text-align: center;
}

.benef-2-webflow {
  width: 20em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.benef-webflow-3 {
  width: 20em;
  text-align: center;
}

.div-webflow-iphone-text {
  max-width: 32.6px;
  min-width: 32.6em;
  text-align: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  display: flex;
}

.div-webflow-iphone-picture {
  width: 100%;
  flex-direction: column;
  flex: 0 auto;
  align-items: center;
  display: flex;
}

.circle_6 {
  z-index: 1;
  width: 40vw;
  height: 40vw;
  opacity: 1;
  filter: blur(100px);
  background-color: #ecedff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, .2);
}

.image-2-webflow {
  border-radius: 16px;
}

.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: -webkit-sticky;
  position: sticky;
}

.container-webflow-footer {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divid-webflow {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyr-wb {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.footer-dark-2 {
  background-color: #e7e7ee;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-dark-3 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 29px 30px 15px;
  position: -webkit-sticky;
  position: sticky;
  top: auto;
  bottom: -3%;
  left: 0%;
  right: 0%;
}

.div-block-10 {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.footer-dark-4 {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  margin-top: auto;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-webflow {
  background-color: rgba(245, 247, 250, 0);
  border-bottom: 1px solid #e4ebf3;
  margin-top: 14.5em;
  padding: 50px 30px 15px;
  position: relative;
}

.body-wf {
  font-family: Source Sans Pro, sans-serif;
}

@media screen and (max-width: 991px) {
  .nav_bar_webflow {
    padding-left: 3em;
    padding-right: 3em;
  }

  .heading-webflow {
    font-size: 3em;
  }

  .text-block-webflow {
    margin-top: 2.1em;
    margin-bottom: 2.1em;
  }

  .heading-2, .heading-3-webflow, .heading-4 {
    font-size: 18px;
  }

  .text-bloc-webflow, .text-bloc-webflow-2, .text-bloc-webflow-3 {
    font-size: 12px;
  }

  .div-webflow-link-iphone {
    top: 8px;
    bottom: 5px;
  }

  .benef-section-webflow {
    align-items: flex-start;
  }

  .benf-1-webflow {
    width: 16em;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .benef-2-webflow, .benef-webflow-3 {
    width: 16em;
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .div-webflow-iphone-picture {
    width: 50%;
  }

  .container-webflow-footer {
    max-width: 728px;
  }

  .footer-content {
    grid-column-gap: 60px;
  }
}

@media screen and (max-width: 767px) {
  .nav_bar_webflow {
    padding-right: 3em;
  }

  .hero-section-webflow {
    flex-direction: column;
    align-items: center;
    margin-top: 5.2em;
  }

  .heading-webflow {
    padding: 2.05rem;
    font-size: 2.5em;
  }

  .div-block-4 {
    margin-bottom: 7.5em;
  }

  .text-block-webflow {
    margin-top: .4em;
    margin-bottom: .5em;
    padding: 0 2.5em 2.5em;
  }

  .btn-webflow-blu-demo {
    margin-left: 2.5em;
  }

  .div-block-6 {
    flex-direction: column;
    margin-top: 5.1em;
  }

  .div-block-8, .div-block-9 {
    margin-bottom: 5em;
  }

  .div-webflow-link-iphone {
    flex-direction: column;
    margin-top: 5.1em;
    margin-bottom: -9.4em;
  }

  .hero-webflow-text {
    margin-bottom: 7.5em;
  }

  .benef-section-webflow {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .benf-1-webflow {
    margin-bottom: 3.4em;
  }

  .benef-2-webflow {
    margin-bottom: 3.5em;
  }

  .div-webflow-iphone-text {
    margin-bottom: 2.8em;
  }

  .footer-dark {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 34px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }

  .footer-block {
    align-items: center;
  }

  .footer-link:hover {
    color: rgba(26, 27, 31, .75);
  }

  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }

  .footer-social-link {
    margin-left: 20px;
  }

  .footer-divid-webflow {
    margin-top: 60px;
  }

  .footer-dark-2, .footer-dark-3, .footer-dark-4, .footer-webflow {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 479px) {
  .circle_1-wf {
    background-color: #5e66d8;
  }

  .circle_2-wf {
    background-color: #5960f1;
  }

  .circle_4-wf {
    background-color: #6e75f5;
  }

  .nav_bar_webflow {
    padding-left: 1em;
    padding-right: 1em;
  }

  .btn-webflow-white {
    font-size: 0;
    display: none;
  }

  .btn-webflow-blue {
    padding: 6px 9px;
    font-size: 11px;
  }

  .hero-section-webflow {
    margin-top: 1.9em;
  }

  .heading-webflow {
    font-size: 1.8em;
  }

  .div-block-4 {
    margin-bottom: 3.8em;
  }

  .text-block-webflow {
    padding-right: 2.8em;
    font-size: 11px;
  }

  .btn-webflow-blu-demo {
    text-align: center;
    padding: 5px 9px;
    font-size: 11px;
  }

  .gradient-webflow {
    background-image: linear-gradient(162deg, #5761f2, #ced0fc);
  }

  .div-block-8, .div-block-9 {
    margin-bottom: 3.5em;
  }

  .heading-2, .heading-3-webflow, .heading-4 {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 16px;
  }

  .text-bloc-webflow {
    font-size: 11px;
  }

  .text-bloc-webflow-2 {
    width: 55%;
    font-size: 11px;
  }

  .text-bloc-webflow-3 {
    font-size: 11px;
  }

  .container-navbar-webflow {
    position: static;
  }

  .hero-webflow-text {
    margin-bottom: 3.8em;
  }

  .benf-1-webflow, .benef-2-webflow {
    margin-bottom: 3em;
  }

  .div-webflow-iphone-text {
    min-width: 21.9em;
    margin-bottom: 3.5em;
  }

  .circle_6 {
    background-color: #6e75f5;
  }

  .container-webflow-footer {
    max-width: none;
  }

  .footer-wrapper {
    margin-top: 22px;
  }

  .title-small {
    font-size: 11px;
  }

  .footer-link {
    font-size: 10px;
  }
}

#w-node-_501ff4a4-ae7c-b069-50a1-ef202e6fc441-95233e4f, #w-node-_501ff4a4-ae7c-b069-50a1-ef202e6fc44c-95233e4f {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
