
<h4><%= booking.formule.name %></h4>
<p><%= booking.formule.address_line %></p>
<div class="button-map">
  <button onclick="window.open('https://www.google.com/maps/search/?api=1&query=<%=booking.formule.address_line%>')">Itinéraire</button>
</div>
