<div class="container wrapper">

  <div class="mx-3 mt-4 mb-3 d-flex justify-content-between align-items-center">
    <h4 class="mb-0">Mes disponibilités</h4>
  </div>
  <%= render partial: 'dispo_slots' %>
</div>
