<div class="container wrapper">

  <div class="mx-3 mt-4 mb-3 d-flex justify-content-between align-items-center">
    <h4 class="mb-3">Mes disponibilités</h4>
    <div class="dropdown">
      <button class="dispo-fixes-btn dropdown-toggle" type="button" id="dispoMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        ⏱
      </button>
      <ul class="dropdown-menu" aria-labelledby="dispoMenuButton">
        <li>
          <%= link_to edit_dispo_users_path(previous_page: "dispo"), class: "dropdown-item" do %>
            <i class="fa-sharp fa-solid fa-clock me-2"></i>Disponibilités hebdomadaires
          <% end %>
        </li>
        <li>
          <%= link_to edit_indispo_users_path(previous_page: "dispo"), class: "dropdown-item" do %>
            <i class="fa-solid fa-xmark me-2"></i>Indisponibilités hebdomadaires
          <% end %>
        </li>
      </ul>
    </div>
  </div>


  <div class="client-block" data-controller="dispo">
    <ul class="nav nav-pills mb-4 d-flex justify-content-center align-items-center">
      <li class="nav-item me-3">
        <button class="btn-client active" data-action="click->dispo#selectDispo" id="dispo-day" data-dispo-target="buttonDay" data-block="day">Jours</button>
      </li>
      <li class="nav-item">
        <button class="btn-client" data-action="click->dispo#selectDispo" id="dispo-week" data-dispo-target="buttonWeek" data-block="week">Semaines</button>
      </li>
    </ul>



    <div class="block-groupes" data-dispo-target="day" style="display: block;">
      <%= render partial: 'dispo_slots_user', locals: { full_datetimes: @full_datetimes } %>
    </div>

    <div class="block-clients" data-dispo-target="week" style="display: none;">
      <%= render partial: 'week_slots_user' %>
    </div>



  </div>
</div>
