<div class="d-flex footer-all">
  <div class="footer-description">
    <h5>A propos</h5>
    <ul>
      <li> <a href="#">FAQ</a> </li>
      <li> <a href="#">Qui sommes-nous ?</a> </li>
      <li> <a href="#">Presse</a> </li>
    </ul>
  </div>
  <div class="footer-description">
    <h5>&nbsp;</h5>
    <ul>
      <li> <a href="#">Nous contacter</a> </li>
      <li> <a href="#">Politique de confidentialité</a> </li>
      <li> <a href="#">Mentions légales</a> </li>
    </ul>
  </div>

  <div class="footer-description">
    <h5>Suivez-nous</h5>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

</div>
