  <div class="container wrapper" data-controller="algolia-search-client">
    <div class="mx-3 mt-4 mb-3 d-flex justify-content-between align-items-center">
      <h4 class="mb-3">Mes clients</h4>
      <%= link_to new_client_path, class: "text-decoration-none" do %>
        <div class="ajouter-client-btn d-flex align-items-center mb-3">
          <p>Ajouter</p>
          <i class="fa-solid fa-plus"></i>
        </div>
      <% end %>
    </div>

    <% if @clients.size > 5 %>
      <div class="d-flex justify-content-start align-items-center mx-06 my-2">
        <i class="fa fa-search me-2 text-success"></i>
        <input data-algolia-search-client-target="search" class="flex-grow-1 form-control" data-action="input->algolia-search-client#search" type="search" placeholder="Rechercher" autocomplete="off" />
      </div>
    <% end %>


    <div class="block-clients" data-algolia-search-client-target="list">
      <%= render partial: 'client_list', locals: { clients: @clients } %>
    </div>

    <% if @clients.empty? %>
      <p class="ms-3 text-center"><strong>Encore aucun client ? </strong></p>
      <p class="ms-3 text-center">Pas de souci, tu peux les ajouter manuellement ou simplement attendre tes premières réservations, ils seront ajoutés automatiquement !</p>
    <% end %>
  </div>

</div>
