<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour Maxx,</h1>
    <p>Nouvelle inscription en prod ! Voici les infos</p>
    <p>
      <strong>Identifiant du coach:</strong> <%= @user.id %><br>
      <strong>Adresse email:</strong> <%= @user.email %><br>
    </p>
    <p>Cet email est envoyé avant les phases d'onboarding donc pas plus d'informations pour le moment</p>
  </body>
</html>
