<%= month_calendar(events: @calendar_bookings, prev_link: safe_join(["<i class='fa-solid fa-circle-left'></i>"]), next_link: safe_join(["<i class='fa-solid fa-circle-right'></i>"])) do |date, bookings| %>
  <div class="day">
    <%= date.day %>
    <% if bookings.length == 1 %>
      <span class="dot-small"></span>
    <% elsif bookings.length > 1 && bookings.length <= 3  %>
      <span class="dot-medium"></span>
    <% elsif bookings.length >= 4  %>
      <span class="dot-big"></span>
    <% else %>
    <% end %>
  </div>
  <% bookings.each do |booking| %>
    <div class="card-header">
      <!-- your booking details here -->
    </div>
  <% end %>
<% end %>
