<div class="container">
  <div class="mx-3">
    <h2 class="mb-0">Mon compte</h2>
    <%=link_to "Mes cours", cours_path, class: "btn-basic-bleu" %>  </div>
    <%=link_to "Mes packages", packages_path, class: "btn-basic-bleu" %>  </div>
</div>
