.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.avatar-profile {
  width: 10em;
  border-radius: 50%;
  box-shadow: 0 0 3px $dd-blue-sp;
}


.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-small {
  width: 2em;
  border-radius: 50%;
  box-shadow: 0 0 2px $dd-blue-sp;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;

}
