.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-bigger {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.avatar-tiny {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.avatar-profile {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  border: solid 1px $d-blue-sp;
  box-shadow: 0 0 20px -2px rgba(0,0,0,0.3);
  // box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);

}


.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  height: 40px;
  border-radius: 0px;
  border: white 1px solid;
}

.avatar-small {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;

}

.circle-green {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2EC4B6;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.circle-pink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E296C0;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
.circle-red {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EF5B5B;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.circle-orange {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ECC30B;
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.circle-green-tiny {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2EC4B6;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;

}
.circle-pink-tiny {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E296C0;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}
.circle-red-tiny {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF5B5B;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.circle-orange-tiny {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ECC30B;
  color: white;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.circle-green-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width:3em;
  height:3em;
  border-radius: 50%;
  background-color: #2EC4B6;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;

}
.circle-pink-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width:3em;
  height:3em;
  border-radius: 50%;
  background-color: #E296C0;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}
.circle-red-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width:3em;
  height:3em;
  border-radius: 50%;
  background-color: #EF5B5B;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.circle-orange-big {
  display: flex;
  align-items: center;
  justify-content: center;
  width:3em;
  height:3em;
  border-radius: 50%;
  background-color: #ECC30B;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}
