.btn-mini {
  color: $blue-sp;
  font-weight: 400;
  transition-duration: 0.4s;
  text-decoration: none;
}

.btn-mini:hover {
  color: $yellow-sp;
}

.btn-basic-bleu {
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  transition-duration: 0.8s;
  background: $blue-sp;
  color: $ll-blue-sp;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-weight: 400;
}

.btn-basic-bleu:hover {
  background: $d-blue-sp;
  color: $ll-blue-sp;
}

.btn-basic-bleu-large {
  text-decoration: none;
  padding: 0.5em 0;
  width: 100%;
  border-radius: 4px;
  transition: all 0.15s;
  transition-duration: 0.8s;
  background: $blue-sp;
  color: $ll-blue-sp;
  font-weight: 400;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  border: none;
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    transform: scale(0.95);
  }
}

.ajouter-client-btn {
  p {
    margin-bottom: 0px;
    margin-right: 0.6em;
  }
  padding: 0.2em 0.55em 0.2em 0.85em;
  background-color: $white;
  border-radius: 3em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: $dd-blue-sp;
  text-decoration: none;
  font-size: 0.9em;
}

.back-btn {

  color: $blue-sp;
  font-size: 1.2em;
}

.reservation-block {
  .btn-reservation {
    position: relative;
    .dot {
      position: absolute;
      top: -10px;
      right: 38px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $red-sp;
    }
  }
  .btn-reservation.active {
    text-decoration: none;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    transition: none !important;
    background: $blue-sp;
    color: $ll-blue-sp;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 0 4px $blue-sp;
    border: none;
  }

  .btn-reservation {
    text-decoration: none;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    transition: none !important;
    background: none;
    color: $blue-sp;
    font-size: 1em;
    font-weight: 400;
    border: none;
  }
}

.client-block {
  .btn-client.active {
    text-decoration: none;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    transition: none !important;
    background: $blue-sp;
    color: $ll-blue-sp;
    font-size: 1em;
    font-weight: 400;
    box-shadow: 0 0 4px $blue-sp;
    border: none;
  }

  .btn-client {
    text-decoration: none;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    transition: none !important;
    background: none;
    color: $blue-sp;
    font-size: 1em;
    font-weight: 400;
    border: none;
  }
}

.profile-box-btn {
  background-color: $white;
  color: $l-blue-sp;
  font-size: 1em;
  text-decoration: none;
  padding: 0em 0.5em;
  margin-top: 1em;
  border-bottom: 1px solid $l-blue-sp;
  & .profile-box-text {
    color: $dd-blue-sp;
  }
}

.signout-box-btn {
  background-color: $white;
  font-size: 1em;
  text-decoration: none;
  padding: 0em 0.5em;
  margin-top: 2em;
  & .signout-box-text {
    color: $red;
  }
}

.btn-modifier-dropdown {
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  transition-duration: 0.8s;
  background: lightgrey;
  color: $dd-blue-sp;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-weight: 400;
  width: 100%;
}

.btn-modifier-confirmer {
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  transition-duration: 0.8s;
  background: $blue-sp;
  color: $ll-blue-sp;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  font-weight: 400;
  width: 100%;
}

.round-button-grey {
  text-decoration: none;
  border-radius: 3em;
  background: $light-gray;
  color: $dd-blue-sp;
  font-size: 1em;
  font-weight: 400;
  border: none;
  text-align: center;
  width: 55%;
  margin: auto;
}

.round-button-blue {
  text-decoration: none;
  border-radius: 3em;
  background: $blue-sp;
  color: $ll-blue-sp;
  font-size: 1em;
  font-weight: 400;
  border: none;
  text-align: center;
  width: 63%;
  margin: auto;
}

.round-button-l-blue {
  text-decoration: none;
  border-radius: 3em;
  background: $l-blue-sp;
  color: $ll-blue-sp;
  font-size: 1em;
  font-weight: 500;
  border: none;
  text-align: center;
  width: 55%;
  margin: auto;
}

.round-button-yellow {
  text-decoration: none;
  border-radius: 3em;
  background: $l-yellow-sp;
  color: $dd-blue-sp;
  font-size: 1em;
  font-weight: 400;
  border: none;
  text-align: center;
  width: 55%;
  margin: auto;
}

.booking-option-button {
  text-decoration: none;
  border-radius: 3em;
  background: $white;
  color: $blue-sp;
  font-size: 1em;
  border: none;
  text-align: center;
  transition: all 0.15s;
  padding: 0.2em 1.2em;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);

}

.booking-option-button.selected {
  background: $blue-sp;
  color: $ll-blue-sp;
  transform: scale(1.05);
  box-shadow: 0 0 18px -4px $blue-sp;
}

.btn-share-link {
  margin-right: 1em;
  background-color: $white;
  color: $l-blue-sp;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  padding: 6px;
  font-size: 0.85em;
  border-radius: 50%;
  text-decoration: none;
}

.disclaimer-copy {
  display: none;
  text-align: center;
  font-size: 0.8em;
  margin-top: 1em;
}

.btn-gris-rond {
  text-decoration: none;
  padding: 0.2em 0.55em;
  border-radius: 3em;
  transition: none !important;
  background: $light-gray;
  color: $d-blue-sp;
  font-size: 1em;
  font-weight: 400;
  box-shadow: 0 0 4px $l-blue-sp;
  border: none;
  &:active {
    background: $l-blue-sp;
    box-shadow: 0 0 6px $blue-sp;
  }
}

.btn-show-refuse {
  p {
    margin-bottom: 0px;
  }
  padding: 0.2em 0.55em;
  background-color: $red-sp;
  border-radius: 3em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: $ll-blue-sp;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  width: 20%;
}

.btn-show-accept {
  p {
    margin-bottom: 0px;
  }
  padding: 0.2em 0.55em;
  background-color: $green-sp;
  border-radius: 3em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  color: $ll-blue-sp;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  width: 20%;
}

.round-square-grey {
  background-color: lightgrey;
  padding: 0.2em 0.7em;
  border-radius: 4px;
  i {
    color: $ll-blue-sp;
  }
}
