.card-horizontal-client {
  color: $dd-blue-sp;
  text-decoration: none;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  padding: 0.55em 1em;
  margin: 0.4em 0.6em;
  border-left: 3px solid $blue-sp;
  & h4 {
    font-size: 1em;
    margin-bottom: 0;
  }
  & p {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
  }
  & .card-client-horizontal-text {
    margin: 0.5em;
    overflow: hidden;
  }
  & .phone-message-card-horizontal {
    color: $l-blue-sp;
    font-size: 1.1em;
  }

  .fa-phone {
    padding-right: 1em;
  }

}

.card-horizontal-booking {
  color: $dd-blue-sp;
  text-decoration: none;
  background-color: $white;
  border-left: 3px solid $blue-sp;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  padding: 0.5em 1em;
  margin: 0.6em;
  & h4 {
    font-size: 0.95em;
    margin-bottom: 0;
  }
  .avatar-large {
    margin-bottom: 2em;
  }
  & .time-card {
    background-color: $light-gray;
    padding: 0.1em;
    border-radius: 2px;
    margin-bottom: 0.4em
  }
  & .date-card {
    color: $blue-sp;
  }
  & p {
    font-size: 0.9em;
    margin-bottom: 0;
    text-decoration: none !important;
  }
  & li {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
  }
  & .card-infos {
    padding: 0.5em;
    width: 10em;
    border-right: solid 1.5px $light-gray;
    overflow: hidden;
  }

  & .price-infos {
    width: 3.5em;
  }

  i {
    color: $blue-sp;
  }

  & .price-tag-none-paid {
    background-color: $l-yellow-sp;
    color: $dd-blue-sp;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 3px $l-yellow-sp;
  }
  & .price-tag-paid {
    background-color: $blue-sp;
    color: $ll-blue-sp;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 3px $blue-sp;
  }

  & .booking-status {
    font-size: 0.7em;
  }
}

.card-horizontal-booking-pending {
  position: relative;
  text-decoration: none;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  border-left: 3px solid $blue-sp;
  padding: 0.5em 1em;
  margin: 0.6em;
  & h4 {
    font-size: 0.95em;
    margin-bottom: 0;
  }
  .avatar-large {
    margin-bottom: 2em;
  }
  & .time-card {
    background-color: $light-gray;
    padding: 0.1em;
    border-radius: 2px;
    margin-bottom: 0.4em
  }
  & .date-card {
    color: $blue-sp;
  }
  & p {
    font-size: 0.9em;
    margin-bottom: 0;
    text-decoration: none !important;
  }

  i {
    color: $blue-sp;
  }

  & li {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
  }
  & .card-infos {
    color: $dd-blue-sp;
    padding: 0.5em;
    width: 10em;
    border-right: solid 1.5px $light-gray;
    overflow: hidden;
  }

  & .confirmation {
    width: 3.5em;
  }

  & .accept {
    background-color: $white;
    color: $l-blue-sp;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 0.85em;
    border-radius: 50%;
    text-decoration: none;
  }


  & .refuse {
    width: 1.5em;
    text-align: center;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $ll-blue-sp;
    color: $l-blue-sp;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 0.65em;
    border-radius: 50%;
    text-decoration: none;
    top: -6px;
    right: -6px;
    i {
      margin: 0;
    }
  }
  & .price-tag-paid {
    background-color: $blue-sp;
    color: $ll-blue-sp;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 3px $blue-sp;
  }
}

.card-horizontal-booking-passed {
  color: $dd-blue-sp;
  text-decoration: none;
  background-color: #d2d2d2;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  padding: 0.5em 1em;
  margin: 0.6em;
  & h4 {
    font-size: 0.95em;
    margin-bottom: 0;
  }
  .avatar-large {
    margin-bottom: 2em;
  }
  & .time-card {
    background-color: $light-gray;
    padding: 0.1em;
    border-radius: 2px;
    margin-bottom: 0.4em
  }
  & .date-card {
    color: $blue-sp;
  }

  i {
    color: $blue-sp;
  }

  & p {
    margin-bottom: 0;
    text-decoration: none !important;
    font-size: 0.9em;
  }
  & li {
    font-size: 0.9em;
    font-weight: 300;
    margin-bottom: 0;
  }
  & .card-infos {
    padding: 0.5em;
    width: 10em;
    border-right: solid 1.5px $light-gray;
    overflow: hidden;
  }

  & .price-infos {
    width: 3.5em;
  }

  & .price-tag-none-paid {
    background-color: $l-yellow-sp;
    color: $dd-blue-sp;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 3px $l-yellow-sp;
  }
  & .price-tag-paid {
    background-color: $blue-sp;
    color: $ll-blue-sp;
    padding: 0.2em 0.55em;
    border-radius: 3em;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 0 0 3px $blue-sp;
  }

  & .booking-status {
    font-size: 0.7em;
  }
}

.daily-dispo-card {
  color: $dd-blue-sp;
  text-decoration: none;
  background-color: $white;
  border-left: 3px solid $blue-sp;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  padding: 0.5em 1em;
  width: 100%;
  height: auto;
  & .date-text {
    font-weight: 600;
    font-size: 1em;
    border-bottom: 2px solid $light-gray
  }
  & .dispo-slots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.1em;
  }
  & .dispo-slots-drop {
    // display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.1em;
    overflow: hidden;
  }
  & .disponibilites-btn {
    text-decoration: none;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    transition-duration: 0.8s;
    background: $blue-sp;
    color: $ll-blue-sp;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-weight: 400;
  }
  & .btn-disponibilites {
    margin-top: 1em;
    margin-left: 0.1em;
    text-decoration: none;
    padding: 0.2em 0.8em;
    border-radius: 3em;
    color: $blue-sp;
    font-size: 0.9em;
    font-weight: 400;
    border: none;
  }
}

.revenue-card {
  background-color: $blue-sp;
  box-shadow: 0 0 18px -4px $blue-sp;
  padding: 1.4em 0.7em;
  border-radius: 4px;
  margin-right: 0.5em;
  color: $white;
  flex: 1;
  transition: all 0.3s ease;
  h4 {
    margin: 0;
  }
  .first-line {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }

}
.revenue-card.collapse-transition  {
  background-color: $blue-sp;
  box-shadow: 0 0 8px -2px $blue-sp;
  transform: scale(0.95);
}


.revenue-card-projeté {
  margin-left: 0.5em;
  background-color: $l-blue-sp;
  box-shadow: 0 0 18px -4px $l-blue-sp;
  padding: 1.4em 0.7em;
  border-radius: 4px;
  color: $d-blue-sp;
  flex: 1;
  transition: all 0.3s ease;
  h4 {
    margin: 0;
  }
  .first-line {
    font-size: 0.9em;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
}
.revenue-card-projeté.collapse-transition {
  background-color: $l-blue-sp;
  box-shadow: 0 0 8px -2px $l-blue-sp;
  transform: scale(0.95);
}

.show {
  display: block !important;
}

.formule-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .formule-card button{
    background-color: white;
    color: $dd-blue-sp;
    text-decoration: none;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
    padding: 0.55em 1em;
    margin: 0.4em 0.6em;
    cursor: pointer;
    border: none;
    transition: all 0.15s;
  }
  p {
    margin: 0;
  }
  h4 {
    font-size: 0.9em;
    font-weight: 600;
  }
  & .btn-disponibilites {
    margin-top: 1em;
    margin-left: 0.1em;
    text-decoration: none;
    padding: 0.2em 0.8em;
    border-radius: 3em;
    background-color: $light-gray;
    color: $d-blue-sp;
    font-size: 0.9em;
    font-weight: 400;
    border: none;
  }

}

.formule-card button.selected {
  background-color: $blue-sp;
  box-shadow: 0 0 18px -4px $blue-sp;
  color: $ll-blue-sp;
  outline: none;
  transform: scale(1.05);
}

.finish-card {
  background-color: $light-gray;
  border-radius: 50px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  width: 100%;
  h4 {
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0.7em;
  }
  p {
    margin-bottom: 0;
    margin-left: 0.7em;
  }
}


.finish-details-card {
  i {
    color: $blue-sp;
  }
  p {
    margin-bottom: 0.6em;
  }
}

.date-details-revenu-card {
  color: $d-blue-sp;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  border-radius: 4px;
  padding: 0.55em 1em;
  margin: 1.3em 0em;
  border-left: 3px solid $blue-sp;
  display: none;
  p {
    margin-bottom: 0.3em;
    font-size: 0.85em;
  }
  .first-block-details {
    font-weight: 500;
    color: $d-blue-sp;
  }
  .second-block-details {
    font-weight: 300;
    color: $blue-sp;
  }
 }

 .booking-show-client-card {
  color: $dd-blue-sp;
  & h4 {
    margin-bottom: 0;
  }
  & p {
    font-size: 0.8em;
    margin-bottom: 0;
  }
  & a {
    text-decoration: none;
    font-weight: 500;
    color: $blue-sp;

  }
 }
