// @keyframes gradient {
//   0% { stop-color: #833ab4; }
//   50% { stop-color: #fd1d1d; }
//   100% { stop-color: #fcb045; }
// }

// .gradient-all {
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
// }

// .gradient-all svg {
//   width: 100%;
//   height: 100%;
// }

// .gradient-all svg rect {
//   animation: gradient 5s infinite;
// }
