// app/assets/stylesheets/components/_map.scss
.map-boxx > div {
  width: 90%;
  height: 250px;
  border-radius: 4px;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
}


.mapboxgl-popup {
  max-width: 200px;
  border-radius: 4px;
}

.mapboxgl-popup-content {
  color: $dd-blue-sp;
  h4 {
    font-size: 1.2em;
  }
  .button-map {
    button {
    text-decoration: none;
    border-radius: 2px;
    background: $l-blue-sp;
    color: $ll-blue-sp;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    font-weight: 400;
    border: none;
    font-size: 0.8em;
    font-family: $body-font;
    }
  }
}

.mapboxgl-marker svg path{
  fill: $blue-sp !important;
}
