// app/assets/stylesheets/components/_map.scss
.mapboxgl-popup {
  max-width: 200px;
  border-radius: 4px;
}

.mapboxgl-popup-content {
  color: $dd-blue-sp;
  h4 {
    font-size: 1.2em;
  }
  .button-map {
    button {
    text-decoration: none;
    border-radius: 4px;
    background: $l-blue-sp;
    color: $ll-blue-sp;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    font-weight: 400;
    border: none;
    font-family: $headers-font;
    }
  }
}

.mapboxgl-marker svg path{
  fill: $blue-sp !important;
}
