.scan {
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 0;
}


.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  // background: linear-gradient(to top, $ll-blue-sp 0%, white 100%);
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: 5px;
  outline: 0;

}

.btn-close {
  display: none;
  box-sizing: content-box;
  width: 0.4em;
  height: 0.4em;
  padding: 0.25em 0.25em;
  color: #000;
  border: 0;
  border-radius: 2px;
  opacity: 0.5;
}

.modal-header {
  display: none;
}
