.logo img {
  height: 40px;
}

#bottom-navbar-custom {
  width: 100%;
  height: 0.3em;
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  padding: 2em;
  z-index: 9999;
  p {
    font-size: 0.6em;
    font-family: $headers-font;
    margin-bottom: 0px;
  }
}

#bottom-navbar-custom, a {
 color: $l-blue-sp;
 text-decoration: none;
}

#bottom-navbar-custom a.active {
  color: $blue-sp;
  text-decoration: none;
}

.top-navbar {
  padding-left: 1em;
  padding-right: 2em;
  background-color: white;
  margin-bottom: 1.5em;
  // margin-bottom: 1em;
  .notification-bell {
    color: $blue-sp;
    font-size: 1.4em;
  }
  .menu-bars {
    color: $medium-gray ;
    font-size: 1.4em;
    padding-right: 1em;
  }
}
