.logo img {
  height: 35px;
  border-radius: 50%;
}


// .bottom-navbar-background {
//   width: 93%;
//   background-color: rgba(255, 255, 255, 0.92);
//   position: fixed;
//   bottom: 36px;
//   z-index: 9998;
//   left: 50%;
//   transform: translateX(-50%);
//   border-radius: 40em;
//   #bottom-navbar-custom {
//     padding: 1.6em 2em 0.5em 2em;
//     max-width: 500px;
//     .nav-item-bottom {
//       position: relative;
//       flex: 1;
//       text-align: center;
//       text-decoration: none;
//       .active-dot {
//         position: absolute;
//         top: -15px;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 4px;
//         height: 4px;
//         background-color: $l-blue-sp;
//         border-radius: 50%;
//       }
//       i {
//         color: $l-blue-sp;
//         font-size: 1.2em;
//         margin-bottom: 0.25rem;
//         display: block;
//       }
//       p {
//         color: $l-blue-sp;
//         display: block;
//         font-size: 0.45em;
//         font-family: $headers-font;
//         margin-bottom: 0px;
//       }
//       .red-dot {
//         position: absolute;
//         top: -15px;
//         left: 50%;
//         transform: translateX(-50%);
//         width: 5px;
//         height: 5px;
//         background-color: $red-sp;
//         border-radius: 50%;
//       }
//     }
//     .nav-item-bottom.active {
//       i {
//         color: $blue-sp;
//       }
//       p {
//         color: $blue-sp;
//       }
//     }

//   }
// }
.bottom-navbar-background {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  position: fixed;
  bottom: 0;
  z-index: 9998;
  #bottom-navbar-custom {
    padding: 1.6em 2em;
    max-width: 560px;
    margin: 0 auto;
    .nav-item-bottom {
      position: relative;
      flex: 1;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
      .active-dot {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: $l-blue-sp;
        border-radius: 50%;
      }
      i {
        color: $l-blue-sp;
        font-size: 1.2em;
        margin-bottom: 0.25rem;
        display: block;
      }
      p {
        color: $l-blue-sp;
        display: block;
        font-size: 0.45em;
        font-family: $headers-font;
        margin-bottom: 0px;
      }
      .red-dot {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background-color: $red-sp;
        border-radius: 50%;
      }
    }
    .nav-item-bottom.active {
      i {
        color: $blue-sp;
      }
      p {
        color: $blue-sp;
      }
    }
    .nav-item-bottom:hover {
      transform: scale(1.05);
    }

  }
}

.top-navbar-background {
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  transition: background-color 0.3s ease;

  #top-navbar {
    z-index: 9999;
    max-width: 560px;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 1.5em;
    .notification-bell {
      color: $l-blue-sp;
      font-size: 1.4em;
    }
    .menu-bars {
      color: $medium-gray ;
      font-size: 1.4em;
      padding-right: 1em;
    }
  }
}

.top-navbar-background.navbar-white {
  background-color: white;
}


.fixed-left {
  width: 240px; /* Adjust width to your preference */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Allows scrolling if the content is too long */
  align-items: flex-start;
  padding: 1.3em 1.3em;
  background-color: #ffffffa0 !important;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 6px;
  z-index: 9998;

  .link-left-chuck {
    background-color: $blue-sp;
    box-shadow: 0 0 18px -4px $blue-sp;
    border-radius: 4px;
    margin-right: 0.5em;
    margin-bottom: 2em;
    a {
      p {
        margin-bottom: none !important;
        color: $white !important;
      }
      i {
        margin-bottom: none !important;
        color: $white !important;

      }
    }
  }
  .link-left-chuck:hover {
    box-shadow: 0 0 3px -1px $blue-sp;
    transform: scale(1.04);
    background-color: $d-blue-sp;

  }

  .nav-item {
    position: relative;
    padding: 0em 0.4em;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
    p {
      color: #9294b1;
      transition: all 0.5s ease-in-out;

    }
    &.active {
      background-color: white;
      box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
      transform: scale(1.05);
      p {
        color: $d-blue-sp !important;
      }
    }
    &:hover {
      transform: scale(1.03);
      p {
        color: $d-blue-sp;
      }
    }
  }
  .red-dot {
    position: absolute; /* Position it absolute to its relative parent */
    top: 50%; /* Align it vertically in the middle of the list item */
    right: -5px; /* Place it to the right of the list item. Adjust this value as needed */
    width: 7px; /* Adjust these values as needed */
    height: 7px;
    background-color: $red-sp;
    border-radius: 50%; /* Makes the dot circular */
    transform: translateY(-50%);
  }
}
