.slide-box {
  background-color: $white;
  border-radius: 4px;
  padding: 0.6em;
  box-shadow: 0 0 11px -4px rgba(0,0,0,0.2);
  color: $blue-sp;
  font-weight: 600;
  em {
    color: $dd-blue-sp;
  }
  a {
    text-decoration: none;

  }
  p {
    margin-bottom: 0;
    font-size: 0.8em;
    color: $dd-blue-sp;
  }
  .link-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .whatsapp-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
      font-size: 1.1em;
    }
  }
  .mail-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .sms-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .instagram-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .messenger-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .twitter-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
  .facebook-card {
    background-color: $light-gray;
    border-radius: 4px;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    width: 19%;
    i {
      text-decoration: none;
    }
  }
}
