  <h2>Confirmation de votre adresse e-mail</h2>
  <p>Bonjour,</p>
  <p>Merci de vous être inscrit à ChuckApp. Pour confirmer votre adresse e-mail, veuillez cliquer sur le lien ci-dessous :</p>
  <p>
    <%= link_to 'Confirmer mon adresse e-mail', confirmation_url(@resource, confirmation_token: @token) %>
  </p>
  <p>
    Si vous n'avez pas créé de compte sur ChuckApp, ignorez simplement cet e-mail.
  </p>
  <p>Merci,</p>
  <p>L'équipe ChuckApp</p>
